.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 21px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 0;
    gap: 7px;
    li {
        list-style: none;
        button {
            background: transparent;
            border: 1px solid $white;
        }
        &.slick-active {
            button {
                background: $white;
            }
        }
    }
    button {
        font-size: 0;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        overflow: hidden;
    }
}
.slick-arrow {
    font-size: 0;
    position: absolute;
    bottom: 20px;
    z-index: 5;
    width: 70px;
    height: 25px;
}
.slick-prev {
    left: 43%;
    background: url(../assets/icons/arrow-left.svg) center center no-repeat;
    @media (max-width: 1400px) {
        left: 40%;
    }
    @include lg {
        left: 34%;
    }
    @include sm {
        left: 26%;
    }
}
.slick-next {
    right: 43%;
    background: url(../assets/icons/arrow-right.svg) center center no-repeat;
    @media (max-width: 1400px) {
        right: 40%;
    }
    @include lg {
        right: 34%;
    }
    @include sm {
        right: 26%;
    }
}

.slider {
    position: relative;
    &__item {
        max-height: 480px;
        padding: 83px 0 120px;
        background: linear-gradient(to right, #5e6178, #373a52);
        display: flex;
        flex-direction: column;
        &_warning-gradient {
            background: linear-gradient(to right, #373a52, #2e040a);
        }
        @include md {
            padding: 50px 0 60px;
        }
        @include sm {
            max-height: 100%;
        }
    }
    &__container {
        position: relative;
        max-width: 1064px;
        min-height: 100%;
        @include md {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
    }
    &__title {
        margin-bottom: 25px;
    }
    &__text {
        max-width: 770px;
        @include xl {
            max-width: 650px;
        }
    }
    &__pattern {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include xl {
            right: 30px;
        }
        @include md {
            right: -50px;
        }
    }
}
